.hero{
    display: flex;
    height: 85vh;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

aside{
    width: 300px;
    color: black;
    padding: 60px;
    border: 1px solid rgb(191, 191, 191);
    border-radius: 10px;
}

aside div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right a{
    width: 200px;
    border-top: 1px solid rgb(191, 191, 191);
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.left{
    width: 100%;
    height: 100%;
    padding-right: 30px;
}